@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
:root{
  font-size: 16px;
  font-family:"Quicksand",sans-serif;
}
 .Container-title{
    background: linear-gradient(
      210deg,
      rgba(0, 126, 126, 1) 0%,
      #92B7CE 100%
    );
    color: rgb(211,207,201);
     padding-top:3%;
     padding-bottom:3%;
 }
 .ReviewForm {
    border-radius: 60px;
    padding:3%;
    font-family:"Quicksand",sans-serif;
    background-color:rgb(24,26,27) !important;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    color:whitesmoke;
    font-weight: bold;
}

.ReviewForm:after{
    background-image:none !important;
}

.review-title{
    font-size: 2.5rem;
    font-family:"Quicksand",sans-serif;
    font-weight:bolder;
    margin-left:4%;
    margin-bottom:2%;
}

#desc{
    border:solid black 2px;
    height: 4em;
    font-size: 1.25rem;
    width: 80%;
    margin-left:10%;
    resize: none;
}


.Rating-Container{
    display: grid;
  grid-template-columns: auto auto;
  justify-content:center;
  column-gap: 20px
}


.rating { 
 display:inline-block;
}
.rating > input { display: none; } 

.rating > label:before { 
  margin: 1%;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: rgb(255, 253, 253); 
 float: right; 
}



.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: gold;  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: goldenrod;  } 





.ReviewForm h2{
    font-size:2rem;
    display:block;
    margin-bottom:2%;
    text-align: center;
}

.quality{
    margin-top:auto;
    margin-bottom:auto;
        column-gap: 20px
}


/* Hides circular radio buttons */
.recommend-container input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  

  /* default  look */
  .recommend-container label {
    display: inline-block;
    background-color: #101010;
    font-family: sans-serif, Arial;
    padding:2%;
    padding-left:3%;
    padding-right:3%;
    border: 2px solid #444;
    border-radius: 6px;
    margin-left:2%;
    margin-right:2%;
}

/* Look of the yes no buttons when selected */
.recommend-container input[type="radio"]:checked + label {
    background-color:rgb(102,255,255);
    color: black;
}






.button-container{
    text-align: center;
    margin:5%;
}

.submitButton{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:33%;
    width:25%;
    padding:3%;
    border-radius:5%;
   margin-top:2%;
   font-size:1.1rem;
   font-weight:bold;
   margin-bottom:5%;
   background-color:rgb(102,255,255);
   color:black;
   border:solid black 3px;
}

.submitButton:hover{
    color:white;
    background-color:#101010;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }

  .write-title{
    border: solid black 2px;
    height: 2em;
    font-size: 1rem;
    width: 80%;
    margin-left: 10%;
  }

  .checked {
    color: rgb(102,255,255);
  }

  .Input-Section{
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .Input-Section input, .Input-Section textarea{
    appearance: none !important;
    border: none !important;
    outline: none !important;

    font-size: 1.5em;
    font-family: inherit;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: 0.4s;
  }

  .Input-Section textarea{
    font-size: 1.2em !important;
    height: 10em !important;
  }

  .error{
    color:red;
  }