.containerProfile {
    background-color: #333333;
    min-height: 100vh;
    flex: auto;
    flex-direction: row;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}

.profileHeader {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.profileHeader > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
}

.profileHeader > p {
    margin-top: 5px;
    border: paleturquoise;
    font-family: 'Avenir', Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 180%;
    color: white;
}

.satisfaction {
    margin-top: 5px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
}

.satisfaction > img {
    width: 22px;
    height: auto;
    margin-right: 7px;
    margin-left: 7px;
}

.sub > p {
    margin-top: 5px;
    color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 15px;
}

.line{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 60px;
    height: 100;
    width: 1px;
    background-color: rgb(182, 182, 182);
}

.infocontainer {
    display: flex;
    flex-direction: column;
}

.userInfo {
    margin-top: 50px;
    margin-left: 30px;
    height: fit-content;
    width: 100%;
    background-color: #444444;
    border-radius: 40px;
    padding: 25px;
}

.uintro > p {
    font-family: 'Avenir', Helvetica, sans-serif;
    color: white;
    font-size: 150%;
}

.profilebio > p {
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: 'Avenir', Helvetica, sans-serif;
    color: white;
    font-size: 14pt;
}

.subheader > p {
    margin-top: 25px;
    color: white;
    font-size: 120%;
    font-family: 'Avenir', Helvetica, sans-serif;
}

.badges {
    margin-top: 40px;
    width: 100%;
    flex: auto;
    flex-direction: row;
    display: flex;
    margin-left: 30px;
    margin-right: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.pills {
    background:linear-gradient(rgb(81, 148, 81),transparent);
    width: fit-content;
    background-color: rgb(156, 216, 156);
    border-radius: 25%;
    text-align: center;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
}

.pills > p {
    white-space: nowrap;
}

.pictureSection {
    padding: 20px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 40px;
    background-color: #444444;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.introPictures {
    width: 100%;
    padding-left: 10px;
}

.introPictures > p {
    color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 120%;
}

.pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.pictureColumn {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    width: 20%;
}

.pictureRow {
    flex: row;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    height: 100%;
    opacity: 60%;
}

.pictureRow:hover {
    opacity: 100%;
}

.pictureRow > img {
    cursor: pointer;
    height: 100%;
}

.pictureColumn :first-child > img {
    border-top-left-radius: 20px;
}

.pictureColumn :last-child > img {
    border-bottom-left-radius: 20px;
}

.bigPicture {
    padding-left: 10px;
    max-width: 80%;
}

.bigPicture > img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pills > p {
    padding: 5px;
    text-align: center;
    color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: bold;
}