body {
    background-color: rgb(24,26,27);
}

.parent {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: rgb(211,207,201);
    font-size: 1.15em;
    border: 1px solid whitesmoke;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#profile-pic {
    height: 200px;
    width: 255px;
}

#rating-img {
    width: 250px;
    height: 50px;
    background-color: rgb(24,26,27);;
}

.text {
    margin-left: 15%;
    margin-right: 15%;
}

.reviews {
    margin-left: 15%;
    margin-right: 15%;
    border: 5px solid darkgray;
    text-align: left;
    padding: 10px;
}

.reviews > small {
    display: block;
    text-align: right;
    padding: 10px;
}

a {
    color: inherit;
}

.item {
    align-self: normal;
    padding: 5px;
}



ul {
    list-style-type: none;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column img:hover {
    transform: scale(1.5);
}