
.containerEdit {
    background: linear-gradient(
        210deg,
        rgba(0, 126, 126, 1) 0%,
        #92B7CE 100%
      );
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}

.userData {
    margin-top: 30px;
    background-color: #444444;
    padding: 3% 5% 3% 5%;
    border-radius: 40px;
}

.userData > p {
    font-family: 'Avenir', Helvetica, sans-serif;
    color: white;
    font-size: 150%;
}

.userData > textarea {
    outline: none;
    width: 100%;
    overflow: visible;
    background-color: #444444;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Avenir', Helvetica, sans-serif;
    color: white;
    font-size: 100%;
    resize: none;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.location > div {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
}

.location > div > p {
    font-family: 'Avenir', Helvetica, sans-serif;
    color: white;
    font-size: 120%;
    margin-bottom: 5px;
    margin-right: 20px;
    min-width: fit-content;
}

.location > div > textarea {
    width: 100%;
    overflow: visible;
    background-color: #444444;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Avenir', Helvetica, sans-serif;
    color: white;
    font-size: 100%;
    resize: none;
    overflow: auto;
    overflow-x: hidden;
}

.save {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: center;
}

.save > button {
    background-image: linear-gradient(to right, var(--color1) 50%, var(--color1) 50%, var(--color2));
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    border-radius: 15px;
    width: fit-content;
    padding: 20px;
    color: rgb(211,207,201);
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 900;
    text-shadow: 1px 0 0 rgb(68, 68, 68), 0 -1px 0 rgb(68, 68, 68), 0 1px 0 rgb(68, 68, 68), -1px 0 0 rgb(68, 68, 68);
    border: 5px solid #444444;
    text-align: center;
}

.save > button:hover {
    background-position: 100% 0%;
    cursor: pointer;
}

.state {
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.state > p {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 140%;
    color: white;
}