.card {  
    background-color: #242525; 
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 3px black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    color: white;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-height: 20%;
    font-family: 'Avenir', Helvetica, sans-serif;
}

@media (max-width: 800px) {
    .card {
        min-height: 60%;
        max-height: max-content;
        flex: 1;
    }
}

.container {
    gap: -30px;
    background-color: #191A1A;
    flex-direction: row;
    display: flex;
}

.sitterList {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    margin-top: 7px;
    overflow-y: auto;
}

.card > img {
    object-fit: cover;
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.cardinfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.cardinfo > p {
    width: 100%;
    font-family: 'Avenir', Helvetica, sans-serif;
}

.searchfield {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    background-color: #242525;
    margin-bottom: 5px;
}

.searchfield > img {
    object-fit: cover;
    height: 25px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.searchbar {
    padding: 10px;
    border-radius: 5px;
    background-color: #242525;
    font-family: 'Avenir', Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    width: 100%
}

.username {
    font-weight: bold;
}

.bio {
    font-weight: lighter;
    font-size: small;
}

.postcode {
    font-weight: normal;
    font-size: smaller;
}

.map-wrapper {
    position: relative;
    width: 100%;
    flex: 1;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: -30px;
    overflow: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 134px - 134px);
    max-height: calc(100vh - 134px - 134px);
    border-radius: 20px;
    background-color: #383838;
    padding: 10px;
    z-index: 999;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex: 1;
}

.mapContainer {
    height: calc(100vh - 118px - 118px);
    flex: 1;
}

.mapTest {
    width: 100%;
    height: 100%;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.noresult {
    display: flex;
    height: fit-content;
    align-items: center;
    overflow: hidden;
}

.noresult > p {
    margin-top: 20px;
    color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 150%;
}
