.card {  
    background-color: #242525; 
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 3px black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow: hidden;
    padding: 10px;
    color: white;
}

.container {
    gap: -30px;
    background-color: #191A1A;
    flex-direction: row;
    display: flex;
}

.sitterList {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    margin-top: 7px;
}

.card > img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.cardinfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardinfo > p {
    width: 100%;
}

.searchfield {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    padding: 10px;
    background-color: #242525;
    color: white;
    margin-bottom: 5px;
}

.username {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

.bio {
    font-weight: lighter;
    font-style: italic;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.postcode {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.map-wrapper {
    position: relative;
    width: 100%;
    flex: 1;
    top: 0;
    bottom: 0;
}
.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: -30px;
}

.layout {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    background-color: #383838;
    padding: 10px;
    z-index: 999;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.testcommit {
    
}