@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
  font-size: 16px;
  font-family:"Quicksand",sans-serif;
}

.calendar-page {
  padding-top: 1px;
  padding-bottom: 1px;
  background: linear-gradient(
    210deg,
    rgba(0, 126, 126, 1) 0%,
    #92B7CE 100%
  );
}

/* Calendar numbers
.fc .fc-daygrid-day-number {
    color: #000000;
  }
  
  /* Calendar header */
  .fc .fc-col-header-cell-cushion{
    color: #000000;
  } */


  .calendar-container2{
    height: 80%;
    width:90%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right:auto;

  }

  .calendar-container{
    background-color: whitesmoke;
    height: 80%;
    width:85%;
    margin-top: 2%;
    margin-bottom:2%;
    margin-left: auto;
    margin-right:auto;
    padding: 4vh 5vw;
    border-radius: 1%;
  }

  .transparent{
    opacity:46%;
  }

 /* Event colour */
 .fc-daygrid-event-harness{
    all:none;
    color:white;
    background-color:black;
    margin:2%; 
    font-size: 80%;
    padding: 16px 0px;
    padding-right: 3px;
    border-radius: 12px;
  }

  .fc-daygrid-event-dot{
    color:black;
    background-color:black;
    margin:2%;
  }

  /*highest element of booking information*/
  .Event-container{
    overflow:auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    position: fixed;
    margin-left: 20vh;
    margin-right: 20vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(24,26,27,.93);
    color:white;
    z-index:100;
    border-radius: 16px;
    border:solid 2px black;
    font-family: 'Quicksand', sans-serif;
  }

  .close{
    position:absolute; 
    top:0; 
    right:0;
    font-weight: bolder;
    font-size: 1.8rem;
    color:grey;
    margin-top:0.2%;
    margin-right:1%;
    cursor: pointer;
  }

  .close:hover{
    color:rgb(102,255,255);
  }

  .title{
    padding-left:2%;
    margin-top:2%;
    font-size:2rem;
    font-weight: 900;
    padding-bottom:3%;
    width:100%;
    border-bottom:3px solid rgb(195, 195, 195);
  }

  .booking-container{
    display:flex;
    align-items: center;
    min-width:30vw;
    flex-direction:column;
    padding-top: 10px;
    margin-right: 5%;
  }
  .booking-container div{
    margin:0.1%;
  }


.info-container, .pet-container{
  display:flex;
  flex-direction: column;
  text-align:justify;
}

.info-container, .pet-container, .Other, .Payment-container{
  font-size: 120%;
  padding: 2% 3% 3% 3% !important;
}

.pet-container{
  margin-left: 20%;
}


h2{
  font-size:1.4rem;
}

.Flex-Container, .Flex-Container-2{
  display:flex;
  border:solid rgb(63, 63, 63) 6px;
  border-radius: 16px;
  margin: 0 3% 2% 3%;
}

.Flex-Container-2{
  border: none;
  justify-content:space-between;
}

.Other{
  padding: 20px;
  padding-left: 2%;
  border:solid rgb(63, 63, 63) 6px;
  border-radius: 16px;
}

.Payment-container{
  text-align: center;
  border:solid rgb(63, 63, 63) 6px;
  border-radius: 16px;
  padding: 20px;
  margin-right: 9%;
  margin-left: 2%;
}

h3{
  margin:0;
  display:inline;
  font-size:1.2rem;
  color:grey;

}
.reviewPage{
  width:100%;
  padding:20%;
  margin:10%;
  font-size:1.2rem;
  font-weight: bold;
  color:white;
  border:solid rgb(102,255,255) 2px;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  text-align: center;
}

.glow-on-hover {
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 20%;
  transition: opacity .5s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}



.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.Book-Review-Container{
  display:flex;
  justify-content: space-evenly;
  font-family:"Quicksand",sans-serif;
  font-weight: 900;
  margin: 1% 3%;
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1024px) {
:root{
  font-size: 12px;
}
.reviewPage{
  clear:all;
  padding:2%;
  max-width:50%;
  text-align: center;
  
}


}



