@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
  font-size: 16px;
  font-family:"Quicksand",sans-serif;
}


/* Calendar numbers
.fc .fc-daygrid-day-number {
    color: #000000;
  }
  
  /* Calendar header */
  .fc .fc-col-header-cell-cushion{
    color: #000000;
  } */


  .calendar-container2{
    height: 80%;
    width:90%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right:auto;

  }

  .calendar-container{
    height: 80%;
    width:90%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right:auto;
  }

  .transparent{
    opacity:46%;
  }

 /* Event colour */
 .fc-daygrid-event-harness{
    all:none;
    color:white;
    background-color:black;
    border:solid rgb(102,255,255);
    margin:2%; 
  }

  .fc-daygrid-event-dot{
    color:black;
    background-color:black;
    margin:2%;
  }

  .Event-container{
    width:75%;
    height:80%;
    position: relative;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top:3%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.93);
    color:white;
    z-index:100;
    border-radius: 2%;
    border:solid 2px black;
    font-family: 'Quicksand', sans-serif;

  }

  .close{
    position:absolute; 
    top:0; 
    right:0;
    font-weight: bolder;
    color:grey;
    margin-right:1%;
  }

  .close:hover{
    color:rgb(102,255,255);
  }

  .title{
    padding-left:2%;
    margin-top:2%;
    font-size:1.7rem;
    padding-bottom:3%;
    width:100%;
    border-bottom:3px solid rgb(195, 195, 195);

    ;
  }

  .booking-container{
    display:flex;
    align-items: center;
    margin-top:2%;
    min-width:60%;
    margin-bottom:2%;
    flex-direction:column;

  }
  .booking-container div{
    margin:0.1%;
  }


.info-container{
  display:flex;
  margin-left: 2%;
  margin-right: 20%;
  flex-direction: column;
  text-align:justify;

}

.info-container div{
  width:100%;
}


.pet-container{
  display:flex;
  flex-direction: column;

}

.pet-container{
  margin-left:2%;
}


h2{
  font-size:1.4rem;
}

.Flex-Container{
  display:flex;
  border:solid rgb(63, 63, 63) 2px;
  width:90%;
  margin: 3%;
  padding-bottom: 1%;

  
}


.Other{
  padding:1%;
  margin-left: 3%;
  border:solid rgb(63, 63, 63) 2px;
  width:40%;
  height:25%;

}

.Flex-Container-2{
  display:flex;
  width:90%;
  justify-content:space-between;


}

.Payment-container{
  border:solid rgb(63, 63, 63) 2px;
  width:20%;
  height:90%;
  padding:1%;

}

h3{
  margin:0;
  display:inline;
  font-size:1.2rem;
  color:grey;

}
.reviewPage{
  width:100%;
  height:50%;
  padding:20%;
  margin:10%;
  font-size:1.2rem;
  font-weight: bold;
  color:white;
  border:solid rgb(102,255,255) 2px;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  text-align: center;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 20%;
  transition: opacity .5s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}



.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.Book-Review-Container{
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-family:"Quicksand",sans-serif;
  font-weight: 900;
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1024px) {
:root{
  font-size: 12px;
}
.reviewPage{
  clear:all;
  padding:2%;
  max-width:50%;
  text-align: center;
  
}

}


