:root{
  font-size: 16px;
}


/* Calendar numbers
.fc .fc-daygrid-day-number {
    color: #000000;
  }
  
  /* Calendar header */
  .fc .fc-col-header-cell-cushion{
    color: #000000;
  } */

  .calendar-container2{
    height: 80%;
    width:90%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right:auto;

  }

  .calendar-container{
    height: 80%;
    width:90%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right:auto;
  }

  .transparent{
    opacity:46%;
  }

 /* Event colour */
 .fc-daygrid-event-harness{
    all:none;
    color:white;
    background-color:black;
    border:solid rgb(235, 26, 26) 2px;
    margin:2%;
    
  }
  .fc-daygrid-event-dot{
    border-color:#000080;
    background-color:blue;
    margin:2%;
  }

  .Event-container{
    width:60%;
    height:60%;
    position: relative;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top:3%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.93);
    color:white;
    z-index:100;
  }

  .close{
    position:absolute; 
    top:0; 
    right:0;
    font-weight: bolder;
    color:grey;
    margin-right:1%;
  }

  .title{
    margin-top:2%;
    margin-left:2%;
    font-size:1.7rem;
  }


