:root{
  font-size: 16px;
}


/* Calendar numbers
.fc .fc-daygrid-day-number {
    color: #000000;
  }
  
  /* Calendar header */
  .fc .fc-col-header-cell-cushion{
    color: #000000;
  } */


  .calendar-container{
    height: 80%;
    width:90%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right:auto;
  }

 /* Event colour */
 .fc-daygrid-event-harness{
    all:none;
    color:white;
    background-color:black;
    border:solid rgb(235, 26, 26) 2px;
    margin:2%;
    
  }
  .fc-daygrid-event-dot{
    border-color:#000080;
    background-color:blue;
    margin:2%;
  }