@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.otf') format('opentype'),
  url('../fonts/AvenirLTStd-Medium.otf') format('opentype'),
  url('../fonts/AvenirLTStd-Roman.otf') format('opentype');
}

h1{
  font-family: 'Avenir', Helvetica, sans-serif;
}

.header {
  font-family: 'Avenir', Helvetica, sans-serif;
}

.footer{
  font-family: 'Avenir', Helvetica, sans-serif;
}

body{
  background-color: rgb(24,26,27);
  color: rgb(211,207,201);
  margin: 0;
  font-size: 1.15em;
}